body{
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(135deg,#f5d0e6,#f7c6a3);
}

.auth{
  width: 500px;
  margin: 80px auto;
  padding: 40px;
  background: #ffffff;
  border-radius: 16px;
  text-align: center;
}

.page__logo{
  font-size: 52px;
  color: #d38bd3;
  margin-bottom: 10px;
}

.page__title{
  font-size: 26px;
  margin-bottom: 10px;
}

.page__step{
  font-size: 16px;
  color: #888;
  margin-bottom: 30px;
}

.form__group{
  margin-bottom: 20px;
  text-align: left;
}

.form__label{
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
}

.form__input{
  width: 100%;
  padding: 16px;
  border:1px solid #ccc;
  border-radius: 6px;
}

.form__error{
color: red;
font-size: 12px;
margin-top: 5px;
}

.auth__button{
  width: 50%;
  padding: 18px;
  border: none;
  border-radius: 10px;
  background:linear-gradient(90deg,#b39ddb,#f48fb1);
  color: #fff;
  font-size: 16px;
}

.auth__link{
  display: block;
  margin-top: 20px;
  font-size: 13px;
  color: #3490dc;
}
