.header{
  width: 100%;
  height: 100px;
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
}

.header__inner{
  width:100%;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  font-size: 42px;
  font-weight: bold;
  color: #d38ed6;
  margin: 0;
}

.header__nav{
  display: flex;
  align-items: center;
  gap: 18px;
  margin-right: 40px;
}

.header__link,
.header__button{
  padding: 8px 18px;
  font-size: 16px;
  background-color: #f7f7f73c;
  border: 1px solid #ddd;
  border-radius: 6px;
  white-space: nowrap;
}

.header__link{
  text-decoration: none;
  color: #333;
}